@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root{
    --dourado:#7bb46b;
    --azul-escuro:#7bb46b;
    --azul-escurao:#003f00;
    --branco:#FFFFFF;
    --verde-whatsapp:#25D366;
    --font-principal:'Josefin Sans', sans-serif;
    --tam-font-titulos: 100px;
    --tam_font_titulo_mobile_tablet: 40px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    border:0px;
    outline:none;
}

html{
    overflow-y: auto;
}

body{
    background-color: var(--azul-escurao);
}

.titulos{
    font-family:var(--font-principal);
    text-align:center;
    color:var(--branco);
    font-weight:bold;
    font-size:50px;
    line-height:60px;
}

.subtitulo{
    color:var(--branco);
    font-family:var(--font-principal);
    font-size:55px;
    line-height:60px;
    font-weight:400;
}

.texto{
    color:var(--branco);
    font-family:var(--font-principal);
    text-align:center;
    font-size:25px;
    line-height:35px;
    font-weight:100;
}

@media screen and (min-width:0px) and (max-width:760px){
    .titulos{
        font-size:40px;
        line-height:50px;
    }
    .subtitulo{
        font-size:45px;
        line-height:50px;
    }
    .texto{
        text-align:center;
    }
}

@media screen and (min-width: 761px) and (max-width:990px){
    .titulos{
        font-size:50px;
        line-height:60px;
    }
    .subtitulo{
        font-size:45px;
        line-height:50px;
    }
}

@media screen and (min-width: 991px) and (max-width:1400px){
    .titulos{
        font-size:50px;
        line-height:60px;
    }
    .subtitulo{
        font-size:50px;
        line-height:55px;
    }
}